<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="self-align-item-center ion-text-center">
      <ion-button (click)="OpenPnL()">Profit & Loss</ion-button>
      <ion-button (click)="OpenLogs()">Trade Logs</ion-button>
      <ion-button (click)="OpenScripts()">Scripts</ion-button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-center"> <ion-text color="primary"><b>Scripts</b></ion-text></ion-label>
      <ion-label class="ion-text-center"> <ion-text color="primary"><b>Qty@</b></ion-text></ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let i of Scriptitem" (ionSwipe)="OpenScriptDetails(i.script.id,i.script.name)" (click)="OpenScriptDetails(i.script.id,i.script.name)">
      <ion-item>
        <ion-label class="ion-text-center">{{i.script.name}}</ion-label>
        <ion-label class="ion-text-center">{{i.count}}@{{i.avgRate}}</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <!-- <ion-button fill="outline" size="small" (click)="OpenScriptDetails(i.script)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>  -->
      </ion-item-options> 
     
    </ion-item-sliding>
  </ion-list>
 
    <!-- <ion-button color="danger" (click)="ResetStorage()" class="ion-padding">Reset Inventory</ion-button> -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
    
</ion-content>
