<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Dismiss()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     </ion-buttons>
    <ion-title>Demo Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid >
      <ion-row>
        <ion-col justify-content-center class="ion-padding">
            <!-- <app-scriptcombobox [sid]="resetscriptid" (scriptvalue)="receiveScriptid($event)"></app-scriptcombobox> -->
            <ion-item>
              <app-scriptselect [reset]="resetscript" (emitid)="receiveScriptid($event)"></app-scriptselect>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <ion-item>
            <ion-input type="number"  pattern="[0-9]+"  [value]="textQty" placeholder="Quantity" (input)="onQuantityInput($event.target.value)" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"  class="ion-padding">
            <ion-item>
              <ion-input class="ion-text-right" [value]="textPrice" type="number" pattern="[0-9]+"  (input)="onAmountInput($event.target.value)" placeholder="Price" required></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col size="12">
          <ion-item lines="full">
          <ion-label>Inculde Tax and Commission*</ion-label>
       
            <ion-checkbox slot="end" [(ngModel)]="Tax" (ngModelChange)="onCheck()"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="12">
          <buy-calculation [tax]="Tax" [scriptid]="selectedScript" [page]="page" [sQuantity]="Quantity" [amount]="Amount" (eTax)="receiveTax($event)" (eCommission)="receiveComission($event)" (eTotalCost)="receiveCost($event)"></buy-calculation>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-justify-content-center">
        <ion-col size="6" >
          
            <ion-button (click)="onBuy()" expand="block" shape="round">
              Buy
            </ion-button>
            
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>
