<ion-header>
  <ion-toolbar>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle [(ngModel)]="Darkmode" (ionChange)="onClickDarkmode($event)" slot="end" color="medium"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label>
            Include Tax and Comission
          </ion-label>
          <ion-toggle [(ngModel)]="isTaxInclude" (ionChange)="onClickTax($event)" slot="end" color="medium"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
