<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Dismiss()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     </ion-buttons>
    <ion-title>Payout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <app-scriptcombobox (scriptvalue)="receiveScriptid($event)"></app-scriptcombobox>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Dividend</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="dividendChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Filer</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="isFiler" (ionChange)="onFilerCheck()"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Bonus</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="bonusChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="dividendChecked">
        <ion-item>
          <ion-label>Dividend:</ion-label>
          <ion-input #DividendField type="number" [(ngModel)]="textDividend" (ngModelChange)="onDividendEnter()" (input)="onInputDividend($event.target.value)" placeholder="Enter here... "></ion-input>
          <ion-text>%</ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="bonusChecked">
        <ion-item>
          <ion-label>Bonus:</ion-label>
          <ion-input #BonusField type="number" [(ngModel)]="textBonus" (ngModelChange)="onBonusEnter()" (input)="onInputBonus($event.target.value)" placeholder="Enter here..."></ion-input>
          <ion-text>%</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Dividend Amount</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bonus Qty</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>{{dividendAmount}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{bonusqty}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="pay()">Payout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>