<ion-header>
  <ion-toolbar>
    <ion-title>Payout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <app-scriptcombobox (scriptvalue)="receiveScriptid($event)"></app-scriptcombobox>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Dividend</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="dividendChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">

      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Dividend</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="bonusChecked"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Dividend</ion-label>
          <ion-input type="number" [(ngModel)]="valueDividend" placeholder="Dividend in percentage %"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>Bonus</ion-label>
          <ion-input type="number" [(ngModel)]="valueBonus" placeholder="Bonus"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>