
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Dismiss()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     </ion-buttons>
    <ion-title>Scripts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
 <!-- (click)="addFavScripts(s.id,s.fav)" -->

         <ion-list>
            <ion-item  *ngFor="let s of scripts"  >
              <ion-grid fixed>
                <ion-row class="ion-align-items-center">
                  <ion-col size="8">
                   <ion-card-header>
                     <ion-card-subtitle>Scripts</ion-card-subtitle>
                     <ion-card-title>{{s.name}}</ion-card-title>
                   </ion-card-header>
                  </ion-col>
                  <!-- <ion-col size="4" class="ion-align-items-center">
                   <ion-icon *ngIf="s.fav == true" class="icon-heart" name="heart" color="danger"></ion-icon>
                   <ion-icon *ngIf="s.fav == false" class="icon-heart" name="heart-outline" color="danger"></ion-icon>
                  </ion-col> -->
                   <ion-col size="4" class="ion-align-items-center ion-text-center">
                      <ion-button *ngIf="s.fav == true" color="danger" (click)="addFavScripts(s.id,s.fav)"></ion-button>
                      <ion-button *ngIf="s.fav == false" color="light" (click)="addFavScripts(s.id,s.fav)"></ion-button>
                   <!-- <ion-icon   name="heart" ></ion-icon> -->
                   <!-- <ion-icon *ngIf="s.fav == false"  name="heart-outline" ></ion-icon> -->
                  </ion-col> 
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        <!-- </ion-card> -->
     
    
</ion-content>
