<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Dismiss()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     </ion-buttons>
    <ion-title>Scripts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let s of scripts">
      <ion-item-sliding>
        <ion-item>
          <ion-card-header>
            <ion-card-title>{{s.name}}</ion-card-title>
            <ion-card-subtitle>Slide right to add or remove from favorites.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content><ion-icon class="icon-heart" *ngIf="s.fav == true" slot="icon-only" name="heart" color="danger"></ion-icon></ion-card-content>
        </ion-item>
        <ion-item-options  side="start" >
          <ion-item-option *ngIf="s.fav == false" (click)="addFavScripts(s.id)" >
            <ion-icon slot="icon-only" color="secondary" name="heart" ></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="s.fav == true" color="danger" (click)="removeFavScripts(s.id)">
            <ion-icon slot="icon-only" color="warning" name="heart-dislike-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <!-- <ion-item-options *ngIf="s.fav == true" side="start" >
          <ion-item-option color="danger" (click)="removeFavScripts(s.id)">
            <ion-icon slot="icon-only" color="warning" name="heart-dislike-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-card>
  </ion-list>  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
