<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Dismiss()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     </ion-buttons>
    <ion-title>Scripts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card *ngFor="let s of scripts">
      <ion-item-sliding>
        <ion-item>
          <ion-card-header>
            <ion-card-title>{{s.name}}</ion-card-title>
            <ion-card-subtitle>Slide right to add or remove from favorites.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content><ion-icon slot="icon-only" name="star"></ion-icon></ion-card-content>
        </ion-item>
        <ion-item-options *ngIf="s.fav == false" side="start" (ionSwipe)="addFavScripts(s.id)">
          <ion-item-option >
            <ion-icon slot="icon-only" color="secondary" name="heart" ></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options *ngIf="s.fav == true" side="start" (ionSwipe)="removeFavScripts(s.id)">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" color="warning" name="heart-dislike-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  

</ion-content>
