<ion-header>
  <ion-toolbar>  
    
    <ion-buttons slot="start" (click)="Dismiss()">
     <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{scriptName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-item class="ion-text-center">
      <ion-label>Quantity:</ion-label><ion-label>{{qty}}</ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>Avg Rate:</ion-label><ion-label>{{rate}} </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>Total Cost:</ion-label>
      <ion-label>{{totalCost}}</ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>Bonus:</ion-label>
      <ion-label>{{bonus}}</ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>Bought:</ion-label>
      <ion-label>{{buyed}}</ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>Sold:</ion-label>
      <ion-label>{{sold}}</ion-label>
    </ion-item>
  
</ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text>
          <h3>Unrealised P/L</h3>
        </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text>
          Enter current price to calculte profit and loss.
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="5">
        <ion-item>
          <ion-input class="ion-text-right ion-padding" type="number" [(ngModel)]="textCPrice" (ngModelChange)="onCPriceEnter()" (input)="onInputCPrice($event.target.value)" placeholder="Current Price"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card >
          <ion-row *ngIf="PLState == 1">
            <ion-col size="6">
              <ion-item  color="success">
               <ion-text>Profit</ion-text> 
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
              <ion-text>{{PLAmount}}</ion-text>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="PLState == 2">
            <ion-col size="6" >
              <ion-item color="danger" >
              <ion-text >Loss</ion-text> 
            </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-text color="danger">( {{PLAmount}} )</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
